footer {
  width: 100%;
  margin-block: 3em 2em;
  font-size: 0.95em;
  padding: 2em 1em 6em 1em;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  flex-shrink: 0;
}

.bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-inline: auto;
  padding-block: 0.15em;
}
.bar .left,
.bar .right {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 0;
}

.bar .left p,
.bar .right p {
  margin: 0;
  padding: 0.25em 0.5em;
  white-space: nowrap;
}
.status-high {
  color: var(--darkbrown);
  background-color: var(--gruv-dark-yellow);
}
.status-high a {
  color: inherit;
}
.status-mid {
  color: var(--lighter-bg-color);
  background-color: var(--darker-fg-color);
}
.status-low {
  opacity: 0.75;
  flex: 1;
  background-color: var(--darker-bg-color);
}

.left > .status-low {
  text-align: left;
}
.right > .status-low {
  text-align: right;
}
